.main-container {
  display: grid;
  height: 100vh;
  grid-auto-rows: 1fr 8fr 1fr;
  background-color: rgba(51, 173, 180, 255);
}

.grid-center {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.center-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(255, 255, 255);
}

.input-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 10% 35% 35%;
  align-items: center;
  justify-items: center;
  height: 80%;
}

.right-decode {
  display: grid;
  grid-auto-rows: 1fr 2fr 3fr;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number[type="number"] {
  -moz-appearance: textfield;
}

.input-number {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #33adb4;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  text-align: center;
  min-width: 20vw;
  width: auto;
  max-width: 100%;
}

.input-number:focus {
  outline: none;
  border-color: #33adb4;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #33adb4;
  border-radius: 5px;
  background-color: #33adb4;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #33adb4;
}

.button:focus {
  outline: none;
}

.align-text-center {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .center-content-grid {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(255, 255, 255);
  }

  .footer {
    background-color: rgba(51, 173, 180, 255);
  }
}